.register-user .profile-img-card,
.login-user .profile-img-card{
  width: 150px;
  margin: 0 auto 32px;
  border-radius: 50%;
}
.register-user .card,
.login-user .card{
  width: 320px;
  margin: 16px auto 0;
  padding: 10px;
}
.heading-title{
  margin: 16px 0;
}
.car-list .car-name{
  font-size: 32px;
}
.car-list .card-body{
  padding: 16px 8px;
}
.feedback-username{
  margin: 0 16px 0 0;
}
.feedback-username{
  color: #333333;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
}
.feedback-content{
  color: #333333;
  font-size: 16px;
  margin-bottom: 5px;
}
.feedback-time{
  font-size: 12px;
}
.info-car-list{
  margin-top: 16px;
}
.info-car-item .info-title{
  width: 140px;
}
.info-car-item .info-content{
  width: calc(100%-140px);
}

